<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hokodo\BnplCommerce\Api\Data\CompanyInterface" type="Hokodo\BnplCommerce\Model\Data\Company" />
    <preference for="Hokodo\BnplCommerce\Api\CompanyRepositoryInterface" type="Hokodo\BnplCommerce\Model\CompanyRepository" />
    <type name="Magento\Company\Model\Company\DataProvider">
        <plugin name="add_hokodo_data" type="Hokodo\BnplCommerce\Plugin\Company\Model\DataProvider"/>
    </type>

    <!-- Company auto match feature -->
    <type name="Magento\Company\Model\ResourceModel\Company">
        <plugin name="hokodo_match_company" type="Hokodo\BnplCommerce\Plugin\Company\ResourceModel\Company" />
    </type>
    <!-- /Company auto match feature -->
    <preference for="Hokodo\BNPL\Api\HokodoEntityTypeResolverInterface" type="Hokodo\BnplCommerce\Model\HokodoEntityTypeResolver"/>
    <type name="Hokodo\BNPL\Model\HokodoCompanyProvider">
        <arguments>
            <argument name="companyProviderTypes" xsi:type="array">
                <item name="company" xsi:type="object">Hokodo\BnplCommerce\Api\CompanyRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <!-- Logger section start -->
    <type name="Hokodo\BnplCommerce\Controller\Adminhtml\Company\SaveCompanyId">
        <arguments>
            <argument name="logger" xsi:type="object">HokodoLogger</argument>
        </arguments>
    </type>
    <type name="Hokodo\BnplCommerce\Model\CompanyRepository">
        <arguments>
            <argument name="logger" xsi:type="object">HokodoLogger</argument>
        </arguments>
    </type>
    <type name="Hokodo\BnplCommerce\Plugin\Company\ResourceModel\Company">
        <arguments>
            <argument name="logger" xsi:type="object">HokodoLogger</argument>
        </arguments>
    </type>
    <!-- Logger section end -->

    <!-- Organisation builder change for ee -->
    <preference for="Hokodo\BNPL\Model\RequestBuilder\OrganisationBuilder"
                type="Hokodo\BnplCommerce\Model\RequestBuilder\OrganisationBuilder"/>
    <!-- /Organisation builder change for ee -->

    <!-- Hokodo organisation management logic -->
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="remove_hokodo_user_from_organisation"
                type="Hokodo\BnplCommerce\Plugin\Customer\RemoveUserFromOrganisation"/>
    </type>
    <type name="Hokodo\BnplCommerce\Plugin\Customer\RemoveUserFromOrganisation">
        <arguments>
            <argument name="logger" xsi:type="object">HokodoLogger</argument>
            <argument name="commandPool" xsi:type="object">Hokodo\BNPL\Gateway\Command\CommandPool</argument>
        </arguments>
    </type>
    <type name="Hokodo\BnplCommerce\Observer\Customer\RemoveUserFromOrganisationObserver">
        <arguments>
            <argument name="logger" xsi:type="object">HokodoLogger</argument>
            <argument name="commandPool" xsi:type="object">Hokodo\BNPL\Gateway\Command\CommandPool</argument>
        </arguments>
    </type>
    <!-- /Hokodo organisation management logic -->

    <!-- Organisation remove user gateway set up -->
    <virtualType name="Hokodo\BNPL\Gateway\Command\CommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="organisation_user_remove" xsi:type="string">Hokodo\BNPL\Gateway\Command\OrganisationUserRemove</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hokodo\BNPL\Gateway\Command\OrganisationUserRemove" type="Hokodo\BNPL\Gateway\Command\HokodoGatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Hokodo\BNPL\Gateway\Request\OrganisationUserRemove\BuilderComposite</argument>
        </arguments>
    </virtualType>
    <virtualType name="Hokodo\BNPL\Gateway\Request\OrganisationUserRemove\BuilderComposite" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="api_key" xsi:type="string">Hokodo\BNPL\Gateway\Request\AuthorizationBuilder</item>
                <item name="uri" xsi:type="string">Hokodo\BNPL\Gateway\Request\Sdk\OrganisationUserDeleteEndpointBuilder</item>
                <item name="method" xsi:type="string">Hokodo\BNPL\Gateway\Request\DeleteMethodBuilder</item>
                <item name="body" xsi:type="string">Hokodo\BNPL\Gateway\Request\Sdk\GeneralSubjectBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Hokodo\BNPL\Gateway\Request\Sdk\OrganisationUserDeleteEndpointBuilder" type="Hokodo\BNPL\Gateway\Request\Sdk\EndpointBuilder">
        <arguments>
            <argument name="endpoint" xsi:type="string">organisations/:organisation/users/:user</argument>
            <argument name="params" xsi:type="array">
                <item name=":organisation" xsi:type="string">organisation_id</item>
                <item name=":user" xsi:type="string">user_id</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Plugin for import -->
    <type name="Hokodo\BNPL\Model\Queue\Handler\CompanyImport">
        <plugin name="hokodo_bnplcommerce_set_entity_id"
                type="Hokodo\BnplCommerce\Plugin\BNPL\Model\Queue\Handler\CompanyImportPlugin"/>
    </type>
    <!-- Plugin for import -->
</config>
