<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hokodo\BnplCommerce\Api\Data\CompanyInterface" type="Hokodo\BnplCommerce\Model\Data\Company" />
    <preference for="Hokodo\BnplCommerce\Api\CompanyRepositoryInterface" type="Hokodo\BnplCommerce\Model\CompanyRepository" />
    <type name="Magento\Company\Model\Company\DataProvider">
        <plugin name="add_hokodo_data" type="Hokodo\BnplCommerce\Plugin\Company\Model\DataProvider"/>
    </type>

    <!-- Company auto match feature -->
    <type name="Magento\Company\Model\ResourceModel\Company">
        <plugin name="hokodo_match_company" type="Hokodo\BnplCommerce\Plugin\Company\ResourceModel\Company" />
    </type>
    <!-- /Company auto match feature -->
    <preference for="Hokodo\BNPL\Api\HokodoEntityTypeResolverInterface" type="Hokodo\BnplCommerce\Model\HokodoEntityTypeResolver"/>
    <type name="Hokodo\BNPL\Model\HokodoCompanyProvider">
        <arguments>
            <argument name="companyProviderTypes" xsi:type="array">
                <item name="company" xsi:type="object">Hokodo\BnplCommerce\Api\CompanyRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <!-- Logger section start -->
    <type name="Hokodo\BnplCommerce\Controller\Adminhtml\Company\SaveCompanyId">
        <arguments>
            <argument name="logger" xsi:type="object">HokodoLogger</argument>
        </arguments>
    </type>
    <type name="Hokodo\BnplCommerce\Model\CompanyRepository">
        <arguments>
            <argument name="logger" xsi:type="object">HokodoLogger</argument>
        </arguments>
    </type>
    <type name="Hokodo\BnplCommerce\Plugin\Company\ResourceModel\Company">
        <arguments>
            <argument name="logger" xsi:type="object">HokodoLogger</argument>
        </arguments>
    </type>
    <!-- Logger section end -->
    <type name="Hokodo\BNPL\Gateway\Command\PostSale\CapturePayment">
        <plugin name="update_company_credit_limit_after_capture"
                type="Hokodo\BnplCommerce\Plugin\PostSale\UpdateCompanyCreditLimit"/>
    </type>
    <type name="Hokodo\BNPL\Gateway\Command\PostSale\RefundPayment">
        <plugin name="update_company_credit_limit_after_refund"
                type="Hokodo\BnplCommerce\Plugin\PostSale\UpdateCompanyCreditLimit"/>
    </type>
    <type name="Hokodo\BNPL\Gateway\Command\PostSale\VoidPayment">
        <plugin name="update_company_credit_limit_after_void"
                type="Hokodo\BnplCommerce\Plugin\PostSale\UpdateCompanyCreditLimit"/>
    </type>
</config>
