<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hokodo\BNPL\Ui\Component\Customer\Form\HokodoFieldset">
        <plugin name="hokodo_bnpl_adminhtml_customer_account_hide_my_copany_tab"
                type="Hokodo\BnplCommerce\Plugin\BNPL\Ui\Component\Customer\Form\HokodoFieldsetPlugin"/>
    </type>
</config>
